<div *ngIf="campaignTemplate">
    <h2>
        <span>Campaign Template</span> {{campaignTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <dl class="row-md jh-entity-details">
                <dt>
                    <span>Campaign Name</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.campaignName}}</span>
                </dd>
                <!-- <dt>
                    <span>Campaign Description</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.campaignDescription}}</span>
                </dd> -->
                <dt>
                    <span>Start Date</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.startDate | date:'mediumDate'}}</span>
                </dd>
                <dt>
                    <span>Recurrence Type</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.recurrenceType}}</span>
                </dd>
                <dt>
                    <span>Recurrence End Date</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.recurrenceEndDate | date:'mediumDate'}}</span>
                </dd>
                <dt>
                    <span>Scheduled Time</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.scheduledTime}}</span>
                </dd>
                <dt>
                    <span>In Player Timezone</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.inPlayerTimezone}}</span>
                </dd>
                <dt>
                    <span>Campaign Group Id</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.campaignGroupId}}</span>
                </dd>
                <dt>
                    <span>Filter Critiria</span>
                </dt>
                <ul *ngIf="campaignTemplate.targetGroupFilterCriteria">
                    <li *ngFor="let i of campaignTemplate.targetGroupFilterCriteria">
                        {{ i.filterOption }}
                        <span *ngIf="i.filterOption.length">
                            <span class="fa fa-arrow-right arrowColor"></span>
                        </span>
                        {{ i.filterOptionComparison }}
                        <span *ngIf="i.filterOptionComparison.length">
                            <span class="fa fa-arrow-right arrowColor"></span>
                        </span>
                        {{ i.filterOptionLookUp }}
                        <span *ngIf="i.filterOptionLookUp.length">
                            <span class="fa fa-arrow-right arrowColor"></span>
                        </span>
                        {{ i.filterOptionValue }}
                    </li>
                </ul>
                <!-- <p *ngIf="!campaignTemplate.targetGroupFilterCriteria.length">**You will not be able to launch the campaign unless atleast one filter criteria is selected.</p> -->

                <dt>
                    <span>Content Title - Content Body - Language Selected</span>
                </dt>
                <ul *ngIf="campaignTemplate.targetGroupContentCriteria">
                    <li *ngFor="let i of campaignTemplate.targetGroupContentCriteria">
                        {{ i.contentTitle }} - {{ i.contentBody }} - {{ i.languageSelected }}
                    </li>
                </ul>
                <dt>
                    <span>Meta Data</span>
                </dt>
                <dd>
                    <span>{{campaignTemplate.metaData}}</span>
                </dd>
            </dl>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <h2>
                <span>PieChart</span>
            </h2>
            <div class="content-section implementation">
                <p-chart type="pie" [data]="data"></p-chart>
            </div>
        </div>
    </div>
    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span> Back</span>
    </button>

    <!-- <button type="button" [routerLink]="['/', { outlets: { popup: 'campaign-template/'+ campaignTemplate.id + '/edit'} }]" replaceUrl="true"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span> Edit</span>
    </button> -->
</div>