<form name="editForm" [formGroup]="campaignTemplateGroupCreationForm" role="form" novalidate>

    <div class="modal-header">
        <h4 class="modal-title" id="myCampaignTemplateLabel">Create or edit a Campaign Template</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="statusRetargDiv">
        <div class="retargetContent" [hidden]="!campaignTemplate.retargetedCampaign">
            <button align="right" type="submit" class="btn btn-lg btn-normal">
                <i class="fa fa-crosshairs"></i>
                <span class="retargetBtnTxt">This message was retargeted from {{campaignTemplate.parentCampaignTemplateId}}</span>
            </button>
        </div>
        <div class="campTempStatus" [ngClass]="{'DRAFT':'badge-default, btn-secondary btn-sm','COMPLETED':'badge-primary','PENDING':'badge-info','LIVE':'badge-success','DELETED':'badge-danger', 'CANCELLED':'badge-danger'}[campaignTemplateGroupCreationForm.value.status]">{{campaignTemplateGroupCreationForm.value.status}}</div>
    </div>
    <div class="modal-body">

        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!campaignTemplate.id">
                      <label for="id">ID</label>
                      <input type="text" class="form-control" id="id" name="id"
                             [(ngModel)]="campaignTemplate.id" readonly />
                      </div> -->

        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="field_campaignName">Campaign Name</label>
            <input type="text" class="form-control col-sm-6" name="campaignName" id="field_campaignName" formControlName="campaignName"
                required />
            <div class='col-sm-3' [hidden]="!(campaignTemplateGroupCreationForm.controls.campaignName?.dirty && campaignTemplateGroupCreationForm.controls.campaignName?.invalid)">
                <small class="form-text text-danger" [hidden]="!campaignTemplateGroupCreationForm.controls.campaignName?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="form-control-label" for="field_campaignDescription">Campaign Description</label>
            <input type="text" class="form-control" name="campaignDescription" id="field_campaignDescription" formControlName="campaignDescription"
            />
        </div> -->

        <!-- <div *ngIf="campaignTemplateGroupCreationForm.controls.id.value"> -->
        <!-- <div class="form-group" *ngIf="(campaignTemplate.id && campaignTemplate.pushToOptimoveInstances ) || !campaignTemplate.id">
                    <label for="frequent_date">Push to optimoveInstances</label>&nbsp;&nbsp;
                    <input type="checkbox" name="pushToOptimoveInstances" *ngIf="campaignTemplate.id ? true : false" disabled formControlName="pushToOptimoveInstances" />
                    <input type="checkbox" name="pushToOptimoveInstances" *ngIf="campaignTemplate.id ? false : true" id="pushToOptimoveInstances" formControlName="pushToOptimoveInstances" />
                    <select class="form-control" name="optimoveInstances" formControlName="optimoveInstances" id="optimoveInstances" multiple>
                        <option [disabled]="campaignTemplate.id ? true : false" *ngFor="let optimoveInstance of campaignTemplate.optimoveInstances" [value]="optimoveInstance">{{optimoveInstance}}</option>
                    </select>
                </div> -->
        </br>
        <!-- </div> -->
        <div align="right">
            Target Group Size {{targetGroupSize}}
            <button align="right" type="submit" alt="Target Group Size" [disabled]="getTargetGroupRefreshBtnEnabled()" title="Target Group Size"
                (click)="getTargetGroupSize()" class="btn btn-lg btn-normal">
                <span class="fa fa-refresh"></span>
            </button>
        </div>

        <div formArrayName="targetGroupFilterCriteria" class="well well-lg">
            <div *ngFor="let targetGroupFilterCriterion of targetGroupFilterCriteria.controls; let i=index" [formGroupName]="i">
                <!-- The repeated address template -->
                <!-- <h4>TargetGroupFilterCriterion #{{i + 1}}</h4> -->
                <div class="form-row">
                    <div class="form-group  col-md-1">
                        <label></label>
                        <button type="submit" alt="Remove Filter" title="Remove Filter" (click)="removeTargetGroupFilterCriterion(i)" class="btn btn-normal">
                            <span class="fa fa-minus-circle"></span>
                        </button>
                    </div>
                    <div class="form-group  col-md-2">
                        <!-- <label class="center-block col-sm-4 col-form-label">FilterOption:</label> -->
                        <!-- <input class="form-control" formControlName="filterOption" (focus)="filterOptionFocus(i)"> -->
                        <select placeholder="FilterOption" class="form-control " formControlName="filterOption" (change)="onFilterOptionChange(i)">
                            <option *ngFor="let filterOption of filterOptions" [value]="filterOption">{{filterOption}}</option>
                        </select>
                    </div>
                    <div class="form-group  col-md-3" [hidden]="isOptionLookUpHidden(i)">
                        <!-- <label class="center-block col-sm-4 col-form-label">FilterOptionLookUp:</label> -->
                        <!-- <input class="form-control" formControlName="filterOptionLookUp" required> -->
                        <select placeholder="FilterOptionLookUp" class="form-control " formControlName="filterOptionLookUp" (change)="onFilterOptionLookupChange(i)">
                            <option *ngFor="let filterOptionLookUp of getFilterOptionLookUpValues(i)" [value]="filterOptionLookUp">{{filterOptionLookUp}}</option>
                        </select>
                    </div>
                    <div class="form-group  col-md-3">
                        <!-- <label class="center-block col-sm-4 col-form-label">FilterOptionComparison:</label> -->
                        <!-- <input class="form-control" formControlName="filterOptionComparison" required> -->
                        <select placeholder="FilterOptionComparison" class="form-control " formControlName="filterOptionComparison" (change)="onFilterOptionComparisonChange(i)">
                            <option *ngFor="let filterOption of getFilterOptionComparisonValues(i)" [value]="filterOption">{{filterOption}}</option>
                        </select>
                    </div>
                    <div class="form-group  col-md-3" [ngSwitch]="getFormControlType(i)" [hidden]="isOptionValueSelectionHidden(i)" optional>
                        <!-- <label *ngIf="getFormControlType(i)" class="center-block col-sm-4 col-form-label">FilterOptionValue:</label> -->
                        <!-- <input class="form-control" formControlName="filterOptionValue"> -->
                        <input class="form-control " formControlName="filterOptionValue" optional *ngSwitchCase="'textbox'">
                        <!-- input class="form-control" placeholder="yyyy-MM-dd" formControlName="filterOptionValue" optional *ngSwitchCase="'simpleDate'" -->
                        <div class="input-group" *ngSwitchCase="'simpleDate'">
                            <input type="text" class="form-control" formControlName="simpleDate" ngbDatepicker #filterOptionValue1="ngbDatepicker" optional
                                placeholder="yyyy-MM-dd" (ngModelChange)="onSimpleDateChange(i)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="filterOptionValue1.toggle()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <input class="form-control " placeholder="the value of N" formControlName="filterOptionValue" optional *ngSwitchCase="'daysCounter'">
                        <input class="form-control " placeholder="version number" formControlName="filterOptionValue" optional *ngSwitchCase="'appVersionSelector'">
                        <input class="form-control " placeholder="Type to add a tag value" formControlName="filterOptionValue" optional *ngSwitchCase="'tagValue'">
                        <input class="form-control " placeholder="League Name" formControlName="filterOptionValue" optional *ngSwitchCase="'leagueName'">
                        <input class="form-control " placeholder="League Name Id" formControlName="filterOptionValue" optional *ngSwitchCase="'leagueNameId'">
                        <input class="form-control " placeholder="Event Id" formControlName="filterOptionValue" optional *ngSwitchCase="'eventId'">
                        <input class="form-control " formControlName="filterOptionValue" min="0" type="number" optional *ngSwitchCase="'Number'">
                        <select class="form-control " formControlName="filterOptionValue" *ngSwitchCase="'dropdown'">
                            <!-- <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option> -->
                            <option *ngFor="let filterOption of getFilterOptionValueValues(i)" [value]="filterOption">{{filterOption}}</option>
                        </select>
                        <select class="form-control " formControlName="filterOptionValue" *ngSwitchCase="'dropdownWithObj'">
                            <!-- <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option> -->
                            <option *ngFor="let filterOption of getFilterOptionValueValues(i)" [value]="filterOption.id">{{filterOption.name}}</option>
                        </select>
                        <div class='' *ngSwitchCase="'multiSelectDropdown'">
                            <angular2-multiselect [data]="getFilterOptionValueValues(i)" formControlName="selectedItems" [settings]="{ 
                                singleSelection: false, 
                                text:'Select',
                                enableCheckAll : true,
                                selectAllText:'Select All',
                                unSelectAllText:'UnSelect All',
                                enableSearchFilter: true,
                                classes:'multiselect custom-class',
                                searchPlaceholderText : 'Search'
                            }" (onSelect)="onItemSelect(i)" (onDeSelect)="onItemSelect(i)" (onSelectAll)="onItemSelect(i)"
                                (onDeSelectAll)="onItemSelect(i)"></angular2-multiselect>
                        </div>
                        <!-- <select class="form-control" formControlName="filterOptionValue" multiple *ngSwitchCase="'multiSelectDropdown'">
                            <option *ngFor="let filterOption of getFilterOptionValueValues(i)" [value]="filterOption">{{filterOption}}</option>
                        </select> -->
                        <!-- <div class="selFilLanguage" *ngSwitchCase="'multiSelectDropdown'">
                            <span *ngFor="let filterOption of getSelectedFilterOptionValueValues(i)">{{filterOption}}</span>
                        </div> -->
                        <!-- <select class="form-control" formControlName="filterOptionValue">
                            <option *ngFor="let filterOption of getFilterOptionValueValues(i)" [value]="filterOption">{{filterOption}}</option>
                            </select> -->
                    </div>
                </div>
                <!-- End of the repeated address template -->
                <!-- <div align="right">
                    <button (click)="removeTargetGroupFilterCriterion(i)" type="button">Remove Filter</button>
                </div> -->
            </div>
            <button class="btn btn-info" (click)="addCampaignTemplateFilterCriterion()" type="button">
                <span class="fa fa-filter">Add Filter</span>
            </button>
        </div>
        <br></br>
        <div formArrayName="targetGroupContentCriteria" class="overrideInvalid well well-lg">
            <div class="overrideInvalid" *ngFor="let targetGroupFilterCriterion of targetGroupContentCriteria.controls; let i=index"
                [formGroupName]="i">
                <!-- The repeated address template -->
                <!-- <h4>TargetGroupContentCriterion #{{i + 1}}</h4> -->
                <div>
                    <div class="form-row">
                        <div class="form-group  col-md-1" [hidden]="targetGroupContentCriteria.controls.length === 1 ? true : false ">
                            <label></label>
                            <button type="submit" alt="Remove Language" title="Remove Language" (click)="removeTargetGroupContentCriterion(i)" class="btn btn-normal">
                                <span class="fa fa-minus-circle"></span>
                            </button>
                        </div>
                        <div class="form-group form-group col-md-3">
                            <label class="form-control-label" for="field_contentTitle">Content Title</label>
                            <input type="text" class="form-control" name="contentTitle" id="field_contentTitle" formControlName="contentTitle" required/>
                        </div>
                        <div class="form-group  form-group col-md-3">
                            <label class="form-control-label" for="field_contentBody">Content Body</label>
                            <input type="text" class="form-control" name="contentBody" id="field_contentBody" formControlName="contentBody" required/>
                        </div>
                        <div class="form-group  form-group col-md-3">
                            <label class="form-control-label" for="field_languageComparision">Language</label>
                            <select class="form-control" name="languageSelected" formControlName="languageSelected" id="languageSelected" [required]="targetGroupContentCriteria.controls.length === 1 ? false : true ">
                                <option *ngFor="let language of languagesList" [value]="language">{{language}}</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-2">
                            <label></label>
                            <button type="submit" alt="Target Content Group Size" [disabled]="getTargetContentGroupRefreshBtnEnabled(i)" title="Target Content Group Size"
                                (click)="getTargetContentGroupSize(i)" class="btn btn-normal">
                                <span class="fa fa-refresh">{{targetContentGroupSize[i]}}</span>
                            </button>
                            <!-- Target Content Group Size {{targetContentGroupSize[i]}} -->
                            <!-- <button (click)="getTargetContentGroupSize(i)" [disabled]="getTargetContentGroupRefreshBtnEnabled(i)" type="button">Refresh</button> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of the repeated address template -->
        </div>
        <button (click)="addCampaignTemplateContentCriterion()" type="button" class="btn btn-info">
            <span class="fa fa-language">Add Language</span>
        </button>
        <br></br>
        <div formArrayName="targetGroupMetaData" class="overrideInvalid well well-lg">
            <div class="overrideInvalid" *ngFor="let targetGroupMetaDataCriterion of targetGroupMetaData.controls; let i=index" [formGroupName]="i">
                <!-- The repeated address template -->
                <!-- <h4>targetGroupMetaDataCriterion #{{i + 1}}</h4> -->
                <div class="form-row">
                    <div class="form-group  col-md-1">
                        <label></label>
                        <button type="submit" alt="Remove MetaData" title="Remove MetaData" (click)="removeTargetGroupMetaDataCriterion(i)" class="btn btn-normal">
                            <span class="fa fa-minus-circle"></span>
                        </button>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label col-sm-2 col-form-label">Key*</label>
                        <input type="text" placeholder="Key*" class="form-control" name="key" formControlName="key" required (keypress)="liveOddKeyUniqueCheck(i)"
                        />
                        <div [hidden]="!targetGroupMetaDataCriterion.controls.key?.invalid" class="">
                            <small class="form-text text-danger">
                                Key must be unique
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-control-label col-sm-2 col-form-label">Value*</label>
                        <input type="text" placeholder="Value*" class="form-control" name="value" formControlName="value" required/>
                    </div>
                </div>
                <!-- <div align="right">
                    <button (click)="removeTargetGroupMetaDataCriterion(i)" type="button">Remove MetaData</button>
                </div> -->
            </div>
            <!-- End of the repeated address template -->
        </div>
        <button (click)="addCampaignTemplateMetaDataCriterion()" type="button" class="btn btn-link">
            <span class="fa fa-asterisk">Add MetaData</span>
        </button>
        <br></br>
        <div class="form-group  row">
            <label class="form-control-label col-sm-2 col-form-label" for="field_metaData">Deep Link</label>
            <input type="text" class="form-control col-sm-7" name="metaData" id="field_metaData" formControlName="metaData" />
        </div>

        <div class="form-group">
            <label for="frequent_date">Send immediately</label>&nbsp;&nbsp;
            <input type="checkbox" name="inPlayerTimezone" id="frequent_date" formControlName="sendImmediately" (change)="sendImmediatelyCheck()"
            />
        </div>

        <div *ngIf="showSendImmDiv" [hidden]="this.campaignTemplateGroupCreationForm.value.sendImmediately">

            <div class="form-group row">
                <label class="form-control-label col-sm-4 col-form-label" for="field_startDate">Start Date</label>
                <!--input type="date" name="startDate" id="field_startDate" (ngModelChange)="onStartDtChange()"  /-->
                <div class="input-group col-sm-4" style="padding-left: 0 !important; padding-right: 0 !important;">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker [minDate]="minDate" #startDateDp="ngbDatepicker"
                        (ngModelChange)="onStartDtChange()" formControlName="startDate" required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="startDateDp.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <div class="col-sm-3" [hidden]="!(campaignTemplateGroupCreationForm.controls.startDate?.dirty && campaignTemplateGroupCreationForm.controls.startDate?.invalid)">
                    <small class="form-text text-danger" [hidden]="!campaignTemplateGroupCreationForm.controls.startDate?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-sm-4 col-form-label" for="field_recurrenceType">Recurrence Type</label>
                <select class="form-control col-sm-4" name="recurrenceType" formControlName="recurrenceType" id="field_recurrenceType" required
                    (change)="onRecurrenceType()">
                    <option value="NONE">NONE</option>
                    <option value="WEEKLY">WEEKLY</option>
                    <option value="DAILY">DAILY</option>
                </select>
                <div class="col-sm-3" [hidden]="!(campaignTemplateGroupCreationForm.controls.recurrenceType?.dirty && campaignTemplateGroupCreationForm.controls.recurrenceType?.invalid)">
                    <small class="form-text text-danger" [hidden]="!campaignTemplateGroupCreationForm.controls.recurrenceType?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group row" *ngIf="isRecuEndDateVisible">
                <label class="form-control-label col-sm-4 col-form-label" for="field_recurrenceEndDate">Recurrence End Date{{recurrenceType}}</label>
                <div class="input-group col-sm-4" style="padding-left: 0 !important; padding-right: 0 !important;">
                    <input id="field_recurrenceEndDate" type="text" class="form-control" name="recurrenceEndDate" ngbDatepicker [minDate]="minDate"
                        #recurrenceEndDateDp="ngbDatepicker" formControlName="recurrenceEndDate" required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="recurrenceEndDateDp.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <div class="col-sm-3" [hidden]="!(campaignTemplateGroupCreationForm.controls.recurrenceEndDate?.dirty && campaignTemplateGroupCreationForm.controls.recurrenceEndDate?.invalid)">
                    <small class="form-text text-danger" [hidden]="!campaignTemplateGroupCreationForm.controls.recurrenceEndDate?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-sm-4 col-form-label" for="field_scheduledTime">Scheduled Time (in UTC)</label>
                <!-- <ngb-timepicker formControlName="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>                 -->
                <div class="col-sm-4" style="padding-left: 0 !important; padding-right: 0 !important;">
                    <ngb-timepicker formControlName="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                </div>
                <div class="col-sm-2" *ngIf="campaignTemplateGroupCreationForm && campaignTemplateGroupCreationForm.controls && campaignTemplateGroupCreationForm.controls.time && campaignTemplateGroupCreationForm.controls.time.errors">
                    <div class="form-text text-danger" *ngIf=" campaignTemplateGroupCreationForm.controls.time.errors['invalid']">invalid</div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="field_inPlayerTimezone">In Player Timezone</label>&nbsp;&nbsp;
            <input type="checkbox" name="inPlayerTimezone" id="field_inPlayerTimezone" formControlName="inPlayerTimezone" />
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button [hidden]="!campaignTemplateGroupCreationForm.value.editEnabled" type="submit" [disabled]="campaignTemplateGroupCreationForm.invalid || isSaving"
            (click)="save()" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span>Save</span>
        </button>
        <button [hidden]="campaignTemplateGroupCreationForm.value.status !== 'DRAFT' && !campaignTemplateGroupCreationForm.value.launchEnabled"
            type="submit" [disabled]="campaignTemplateGroupCreationForm.invalid || isSaving" (click)="launch()" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span>Launch</span>
        </button>
    </div>
</form>