
<div class="modal-header">
    <h4 class="modal-title">
        <span class="fa fa-external-link"></span> Copy to Another Campaign</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body">
        <jhi-alert></jhi-alert>
        <jhi-alert-error></jhi-alert-error>
        <br/>
        <div class="form-group">
                <label for="exampleInputEmail1">App</label>
                <angular2-multiselect id="copyToAppMultiSelect" [data]="appList" [(ngModel)]="selectedApp" [settings]="{ 
                    singleSelection: true, 
                    text:'Select',
                    classes:'col-md-6 copyToApp',
                    enableCheckAll : false,
                    enableSearchFilter: true
                  }" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"> </angular2-multiselect>
              </div>
              <div class="form-group">
                    <label for="exampleInputEmail1">Campaign</label>
                    <angular2-multiselect id="copyToCampMultiSelect" [data]="camGrpList" [(ngModel)]="selectedCampGrp" [settings]="{ 
                        singleSelection: true, 
                        text:'Select',
                        classes:'col-md-6 copyToApp',
                        enableCheckAll : false,
                        enableSearchFilter: true
                      }" (onSelect)="onCampGrpItemSelect($event)" (onDeSelect)="onCampGrpItemDeSelect($event)"> </angular2-multiselect>
                  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;
        <span>Cancel</span>
    </button>
    <button type="submit" [disabled]="!selectedCampGrp.length || !selectedApp.length" class="btn btn-primary" (click)="confirm()">
        &nbsp;
        <span>Confirm</span>
    </button>
</div>