<!--Insights page starts here-->
<div class="insight-container">
        <span>Insights</span>
        
        <div class="row boxes">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getMessages();">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-envelope"></i> </div>
                    <div class="count">76</div>
                    <h3>Messages</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getTotalUsers();">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-users"></i> </div>
                    <div class="count">863</div>
                    <h3>Total Users</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getUniqueUsers();">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-user"></i> </div>
                    <div class="count">19</div>
                    <h3>Daily Unique Users</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getSessions();">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-clock-o"></i> </div>
                    <div class="count">179</div>
                    <h3>Sessions</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
        </div>
        <!--boxes ends-->
    
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="insight-graph-container">
                    <div class="row panel-title">
                        <div class="col-md-6">
                            <h3>{{chartHeading}}</h3>
                        </div>
                        <!-- <div class="col-md-6">
    
                            <div class="pull-right">
                                <div class="insight-calendar-box">
                                    <div class="mute-text">Start date</div>
                                    <div class="insight-calendar-input">
                                        <i class="fa fa-calendar"></i>
                                        <span>November 1, 2017 - November 3, 2017</span> <b class="caret"></b>
                                    </div>
                                </div>
    
                                <div class="insight-calendar-box">
                                    <div class="mute-text">End date</div>
                                    <div class="insight-calendar-input">
                                        <i class="fa fa-calendar"></i>
                                        <span>November 1, 2017 - November 3, 2017</span> <b class="caret"></b>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div> -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                                <p-growl [value]="msgs"></p-growl>
                                <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>                        
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <!--Insights page ends here-->


<!-- <div>
    <h2>
        <span>LineChart</span>
    </h2>
    <div class="col-md-8 content-section implementation">
        <p-growl [value]="msgs"></p-growl>
        <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
    </div>
</div> -->
