<!--Insights page starts here-->
<form name="editForm" role="form" novalidate #editForm="ngForm">
<div class="insight-container">
<div class="clearfix marginB15">
    <div class="float-left">
        <h2>
            <span>Insights</span>
        </h2> 
    </div>            
    <!-- <div class="float-right">        
            <select class="custom-selectbox rounded" name="appsList" [(ngModel)]="selectedApp">
              <option *ngFor="let app of apps" [ngValue]="app">{{app.name}}</option>
            </select>        
            <button class="btn btn-primary float-right marginL15" (click)="goToSelectedApp(selectedApp);"> 
                    <span>Go</span> 
            </button>       
    </div> -->
</div>           
     

        <div class="row boxes">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getMessages();" [ngClass]="(selected=='M')?'active':''">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-envelope"></i> </div>
                    <div class="count">{{messages}}</div>
                    <h3>Messages</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getTotalUsers();" [ngClass]="(selected=='T')?'active':''">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-users"></i> </div>
                    <div class="count">{{totalUsers}}</div>
                    <h3>Total Users</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getUniqueUsers();" [ngClass]="(selected=='U')?'active':''">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-user"></i> </div>
                    <div class="count">{{dailyUniqueUsers}}</div>
                    <h3>Daily Unique Users</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="getSessions();" [ngClass]="(selected=='S')?'active':''">
                <div class="big-box">
                    <div class="icon"><i class="fa fa-clock-o"></i> </div>
                    <div class="count">{{sessions}}</div>
                    <h3>Sessions</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
            </div>
        </div>
        <!--boxes ends-->
    
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="insight-graph-container">
                    <div class="row panel-title">
                        <div class="col-md-6">
                            <h3>{{chartHeading}}</h3>
                        </div>
                        <div class="col-md-6" *ngIf="(selected=='T') ? false :true ">
    
                            <div class="pull-right">
                                <div class="insight-calendar-box">
                                    <div class="mute-text">Start date</div>
                                    <div class="input-group">
                                        <input id="startDate" (ngModelChange)="onDtChange()"  type="text" class="form-control" name="startDate" [(ngModel)]="startDate" ngbDatepicker  #startDateDp="ngbDatepicker"
                                        required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                                        <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.startDate?.errors?.required">
                                           This field is required.
                                        </small>
                                    </div>
                                </div>
    
                                <div class="insight-calendar-box">
                                    <div class="mute-text">End date</div>
                                    <div class="input-group">
                                        <input id="endDate" (ngModelChange)="onDtChange()" type="text" class="form-control" name="endDate" [(ngModel)]="endDate" ngbDatepicker [minDate]="minDate"  #endDateDp="ngbDatepicker"
                                        required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                                        <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.endDate?.errors?.required">
                                           This field is required.
                                        </small>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                                <p-growl [value]="msgs"></p-growl>
                                <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>                        
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</form>
    <!--Insights page ends here-->


<!-- <div>
    <h2>
        <span>LineChart</span>
    </h2>
    <div class="col-md-8 content-section implementation">
        <p-growl [value]="msgs"></p-growl>
        <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
    </div>
</div> -->
