<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventCriteriaLabel">Create or edit a Event Criteria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eventCriteria.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eventCriteria.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_frontEnd">Front End</label>
            <select class="form-control" name="frontEnd" [(ngModel)]="eventCriteria.frontEnd" id="field_frontEnd" (change)="populateFeProducts(eventCriteria.frontEnd)" required>
                <option *ngFor="let feFrontEnd of frontEnds" [ngValue]="feFrontEnd">{{feFrontEnd}}</option>
            </select>
            <!-- <input type="text" class="form-control" name="frontEnd" id="field_frontEnd" [(ngModel)]="eventCriteria.frontEnd" required minlength="2" maxlength="2" /> -->
            <div [hidden]="!(editForm.controls.frontEnd?.dirty && editForm.controls.frontEnd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.frontEnd?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.frontEnd?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.frontEnd?.errors?.maxlength">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_product">Product</label>
            <select class="form-control" name="product" [(ngModel)]="eventCriteria.product" id="field_product"  required>
                <option *ngFor="let feProduct of feProducts" [ngValue]="feProduct.product">{{feProduct.product}}</option>
            </select>
            <!-- <select class="form-control" name="product" [(ngModel)]="eventCriteria.product" id="field_product"  required>
                <option value="CASINO">CASINO</option>
                <option value="POKER">POKER</option>
                <option value="SPORTS">SPORTS</option>
            </select> -->
            <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.product?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_eventName">Event Name</label>
            <input type="text" class="form-control" name="eventName" id="field_eventName"
                [(ngModel)]="eventCriteria.eventName" required />
            <div [hidden]="!(editForm.controls.eventName?.dirty && editForm.controls.eventName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_eventComparison">Event Comparison</label>
            <input type="text" class="form-control" name="eventComparison" id="field_eventComparison"
                [(ngModel)]="eventCriteria.eventComparison" required />
            <div [hidden]="!(editForm.controls.eventComparison?.dirty && editForm.controls.eventComparison?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventComparison?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_eventValue">Event Value</label>
            <input type="text" class="form-control" name="eventValue" id="field_eventValue"
                [(ngModel)]="eventCriteria.eventValue" required />
            <div [hidden]="!(editForm.controls.eventValue?.dirty && editForm.controls.eventValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.eventValue?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
