
<div *ngIf="feProduct">
    <h2><span>Fe Product</span> {{feProduct.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Front End</span></dt>
        <dd>
            <span>{{feProduct.frontEnd}}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
            <span>{{feProduct.product}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fe-product/'+ feProduct.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
