body{
    color:#fff;
    background-color: #2f2f2f!important;
}
.my-wrapper{
    margin-top:20px;
}
.jh-card {
margin-left: -15px;
background-color: #2f2f2f!important;
margin-right: -15px;
border-radius: 0;
}
.modal-content, .modal-title {
    color:#000;
}
.table-responsive, .table{
    color: #000;
    background-color: #efefef;
}
.table thead th {
    border-bottom: 1px solid #8f8f8f!important;
    background-color: #fff;
}
.table td, .table th {
    border-top: 1px solid #c9c9c9;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:#fff;
}
.btn-primary {
background-color: #ff5500;
border-color: #ff5500;
}
.btn-primary:hover {
background-color: #f96d2d;
border-color: #f96d2d;
}
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
background-color: #f96d2d;
border-color: #f96d2d;
}

.jh-navbar {
background-color: #000!important;
}
a:hover {
    color: #fd5100;
}   
.btn-group.flex-btn-group-container .btn-info,
.btn-group.flex-btn-group-container .btn-danger,
.btn-group.flex-btn-group-container .btn-primary {
        color: #000;
        background-color: transparent;
        border-color: transparent;
}
.btn-group.flex-btn-group-container .fa {
    font-size: 20px;
    cursor: pointer;
}
.btn-group.flex-btn-group-container .btn-sm {
    padding: .25rem .8rem;
}
.btn-primary.focus, 
.btn-primary:focus,
.btn-group.flex-btn-group-container .btn-info.focus, 
.btn-group.flex-btn-group-container .btn-info:focus,
.btn-group.flex-btn-group-container .btn-danger:focus,
.btn-group.flex-btn-group-container .btn-primary:focus {
    box-shadow: none;
}
.btn-group.flex-btn-group-container .btn-info.hover, 
.btn-group.flex-btn-group-container .btn-info:hover,
.btn-group.flex-btn-group-container .btn-danger:hover,
.btn-group.flex-btn-group-container .btn-primary:hover {
   color:#6b6b6b;
}


.my-login-container{
    width:520px;
    background-color:#fff;
    margin:0 auto;
}
.my-login-container .modal-body{
    color:#000;
    padding: 30px 50px;
    padding-top: 0;
}
.my-hide{
    display: none;
}
.my-login-container .modal-header{
    width:100%;
    border-bottom: 0;
    padding: 30px 50px;
    padding-bottom: 0;
    display: block;
}
.my-login-container .modal-header p{
    color:#c0c0c0;
}
.my-login-container .modal-title{
    font-weight: bold;
}
.my-login-container .btn-primary {
    width: 100%;
}
.my-login-container .alert-warning{
    background-color: transparent;
    border-color:transparent;
    padding-top: 0;
    text-align: center;
    color:#ea783d;
    text-decoration: underline;
    margin-bottom: 0;
}
.my-login-container .alert-warning .alert-link{
    font-weight: normal;
}
.my-login-container .form-control{
    background-color: #e5e5e5;
    border-radius: 0;
}
.my-login-container .form-check{
    margin-bottom: 20px;
}
.my-login-container .fa-times-circle{
    font-size: 20px;
}

.page-item.disabled .page-link, .page-item.enabled .page-link {
    font-weight: normal;
    padding: 0 10px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd;
    color: #868e96;
}
.page-item.disabled .page-link span, .page-item.enabled .page-link span {
    display: block;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin-top: -3px;
    padding-bottom: 3px;
    
}
.pagination-sm .page-link {
    line-height: 1;
    padding: 8px 13px;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    color: #ccc;
}
.page-item.active .page-link {
    font-size: 16px;
    padding: 8px 13px;
    background-color: transparent;
    border-color: transparent;
    color: #ff5500;
    margin-right: 5px;
}

/*insight page styles starts here*/

.big-box {
    position: relative;
    display: block;
    margin-bottom: 27px;
    border: 3px solid #fff;  
    overflow: hidden;
    padding-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #FFF;
    color:#000;
    -webkit-background-clip: padding-box;  
    background-clip: padding-box;
    -moz-background-clip: padding;
    cursor:pointer;
}
.big-box .icon {
    color: #5e5e5e;
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 1;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: none;
    vertical-align: middle;
    text-align: center
}
.big-box .icon i {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 0;
    vertical-align: bottom;    
}
.big-box .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857143;
}
.big-box .count, .big-box h3, .big-box p {
    position: relative;
    z-index: 5;
    margin: 0;
    margin-left: 15px;  
    padding: 0;
}
.big-box h3 {
    font-weight: bold;
    font-size: 22px;
    color: #000;
}
.big-box p {
    font-size: 14px;
    margin-top: 6px;
    color: #848484;
}
.big-box.active {
    border-color: #fd5100;
}
.big-box.active .icon {
    color: #fd5100;
}
.big-box:hover {
    background-color:#eee;
    border-color:#eee;
}
.big-box.active:hover {
    background-color:#fff;
    border-color: #fd5100;
}

.insight-graph-container{
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    color:#000;
    padding: 0 15px;
    border-radius: 4px;
}
.insight-graph-container .panel-title {
    padding: 15px;
    background: #f6f6f6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.insight-graph-container .panel-title h3 {
    margin: 0;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    line-height: normal;
}
.graph-image {
    background: url('../../../content/images/insight-graph.jpg') no-repeat;
    max-width: 100%;
    height: 326px;
}
.insight-calendar-box{
    display: inline-block;
    margin-left: 10px;
}
.insight-calendar-input{
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc;
    display: inline-block;
    color:#d5d5d5;
}
.mute-text{
    font-size: 12px;
    color:#848484;
}

select.custom-selectbox  {
    background: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    height: 38px;
    padding: 1px 2px 3px 2px;
    width: 268px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.marginB15{
    margin-bottom: 15px;
}
.marginT15{
    margin-top: 15px;
}
.marginL15{
    margin-left: 15px;
}
.marginR15{
    margin-right: 15px;
}
.paddingL15{padding-left: 15px;}
.paddingR15{padding-right: 15px;}
/*insight page styles starts here*/
