<form name="editForm" role="form" enctype="multipart/form-data" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAudienceSegmentsLabel">Create or edit a Audience Segments</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!audienceSegments.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="audienceSegments.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="audienceSegments.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="audienceSegments.type"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estimate">Estimate</label>
            <input type="text" class="form-control" name="estimate" id="field_estimate"
                [(ngModel)]="audienceSegments.estimate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastEstimatedAt">Last Estimated At</label>
            <input type="text" class="form-control" name="lastEstimatedAt" id="field_lastEstimatedAt"
                [(ngModel)]="audienceSegments.lastEstimatedAt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifiedAt">Modified At</label>
            <input type="text" class="form-control" name="modifiedAt" id="field_modifiedAt"
                [(ngModel)]="audienceSegments.modifiedAt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdAt">Created At</label>
            <input type="text" class="form-control" name="createdAt" id="field_createdAt"
                [(ngModel)]="audienceSegments.createdAt"  />
        </div> -->
        <div class="form-group">
            <label class="form-control-label" for="field_frontEnd">Front End</label>
            <input type="text" class="form-control" name="frontEnd" id="field_frontEnd"
                [(ngModel)]="audienceSegments.frontEnd" required minlength="2" [disabled]="true"/>
            <div [hidden]="!(editForm.controls.frontEnd?.dirty && editForm.controls.frontEnd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.frontEnd?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.frontEnd?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                [(ngModel)]="audienceSegments.product" required minlength="2" [disabled]="true"/>
            <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.product?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.product?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group fileUpload">
                <label class="form-control-label" for="field_name">Upload File</label>
                <input type="file" id="file" value="Upload" name="file" (change)="fileChange($event)" class="upload form-control" required/>
                <div [hidden]="!(editForm.controls.file?.dirty && editForm.controls.file?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.file?.errors?.required">
                       This field is required.
                    </small>                    
                </div>
        </div>
        <div [hidden]="!fileSizeError">
                <small class="form-text text-danger">
                The file should be in CSV format with a single column containing Tracking IDs with no column heading. File size should be less than 10MB
                </small>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid && !isSaving ? true : false" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
