
<div *ngIf="apps">
    <h2><span>Apps</span> {{apps.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Front End</span></dt>
        <dd>
            <span>{{apps.frontEnd}}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
            <span>{{apps.product}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{apps.name}}</span>
        </dd>
        <dt><span>Jurisdiction</span></dt>
        <dd>
            <span>{{apps.jurisdiction}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{apps.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'apps/'+ apps.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
