
<div *ngIf="campaignStat">
    <h2><span>Campaign Stat</span> {{campaignStat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{campaignStat.name}}</span>
        </dd>
        <dt><span>Scheduled Time</span></dt>
        <dd>
            <span>{{campaignStat.scheduledTime}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{campaignStat.status}}</span>
        </dd>
        <dt><span>Segment Size</span></dt>
        <dd>
            <span>{{campaignStat.segmentSize}}</span>
        </dd>
        <dt><span>Segment Size After Common Scrubbing</span></dt>
        <dd>
            <span>{{campaignStat.segmentSizeAfterCommonScrubbing}}</span>
        </dd>
        <dt><span>Segment Size After Communication Scrubbing</span></dt>
        <dd>
            <span>{{campaignStat.segmentSizeAfterCommunicationScrubbing}}</span>
        </dd>
        <dt><span>Campaign Id</span></dt>
        <dd>
            <span>{{campaignStat.campaignId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'campaign-stat/'+ campaignStat.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
