<div class="row my-hide">
    <div class="col-md-9">
        <h1 class="display-4">Sign in</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
<!-- 
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://jhipster.github.io/" target="_blank" rel="noopener">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>
         -->
    </div>
</div>
</div>

<div class="my-login-container row">
    <div class="modal-header">
        <h4 class="modal-title">Sign in</h4>
        <p>Welcome! Please enter your Username and Password below to signin...</p>
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="alert alert-danger" *ngIf="authenticationError">
                        <i class="fa fa-times-circle"></i>
                    <strong>Failed !!</strong> Please check your credentials and try again.
                </div>
            </div>
            <div class="col-md-12">
                <form class="form" role="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Your username"
                        [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                               [(ngModel)]="password">
                    </div>
                    <!-- <div class="form-check">
                        <label class="form-check-label" for="rememberMe">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                            <span>Remember me</span>
                        </label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <p></p>
                <div class="alert alert-warning">
                    <a class="alert-link" (click)="requestResetPassword()"> Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    
</div>


